.App {
  width: 100%;
  height: 100%;
}

.App-header {
  display: block;
  align-items: center;
  font-size: 32px;
  color: rgb(70, 64, 64);
  padding-top: 10px;
  padding-bottom: 10px
}

.Home-button {
  float: inline-start;
  background: none;
  color: rgb(70, 64, 64);
  font-size: 1.2em;
  font-weight: lighter;
  width: fit-content;
}

ul {
  list-style-type: none;
}

.Tab {
  background-color: rgba(244, 243, 237);
  color: rgb(70, 64, 64);
  font-size: 20px;
  border: none;
  border-radius: 10px;
  padding: 5px;
  min-height: 40px;
  height: fit-content;
  min-width: 175px;
  width: fit-content;
  margin-right: 10px;
}

.Tab-container {
  display: inline-flex;
  float: right;
  margin-right: 10px;
}

.Login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 2%;
  margin-right: 2%;
  margin-bottom: 30px;
}

.Login-container h1 {
  margin-left: 80px;
}

.Login-container h2 {
  font-size: 1.5em;
  font-weight: lighter;
  width: 400px;
  margin-left: 80px;
}

.passwordContainer {
  position: relative;
}

.passwordContainer img {
  position: absolute;
  height: 20px;
  right: 20px;
  top: 20px;
  cursor: pointer;
}

.Login-field {
  height: 50px;
  width: 300px;
  border: solid;
  border-color: rgb(208, 205, 205);
  border-radius: 10px;
  font-size: 16px;
  padding-left: 20px;
  margin-bottom: 10px;
}

.Login-field::placeholder {
  color: rgb(208, 205, 205);
}

.Login-field:hover {
  border-color: rgb(70, 64, 64);
}

.Login-button {
  background-color: rgb(215, 214, 205);
  color: rgb(70, 64, 64);
  font-size: 16px;
  border: none;
  border-radius: 25px;
  width: 325px;
  height: 50px;
}

.Login-button:hover {
  background-color: rgb(174, 172, 163);
  cursor: pointer;
}

.Calendar-container {
  margin-left: 2%;
  margin-right: 2%;
}

.Submit-button {
  background-color:  rgba(244, 243, 237);
  color: rgb(70, 64, 64);
  font-size: 16px;
  border: none;
  border-radius: 10px;
  width: fit-content;
  height: fit-content;
  padding: 10px;
  margin-left: 20px;
  margin-top: 20px;
}

.Message-box {
  width: 40%;
  min-height: 50px;
  height: fit-content;
}

.Message-form {
  width: 100%;
  display: inline-block;
  justify-content: center;
}

.Time-button {
  background-color: rgba(244, 243, 237);
  color: rgb(70, 64, 64);
  font-size: 16px;
  border: none;
  border-radius: 10px;
  width: 80px;
  height: 30px;
  padding: 5px;
  margin-top: 10px;
}

.Tab-selected,
.Time-button-selected,
.Submit-button-selected {
  background-color: rgb(215, 214, 205);
}

.Time-button:hover,
.Tab:hover {
  background-color: rgb(215, 214, 205);
  cursor: pointer;
}

.Submit-button:disabled {
  background-color: rgba(244, 243, 237);
  cursor: auto;
}

.Schedule-container {
  display: flex;
  flex-direction: row;
}

.userButtonContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}

.homePageHeader {
  display: flex;
  align-items: baseline;
}

.homePageHeader img {
  display: inline;
  width: 40%;
}

.homePageHeader h1 {
  margin-left: 10px;
}

h1 {
  font-size: 2.5em;
  font-weight: lighter;
  width: 400px;
}

p {
  font-size: 1em;
}
