.calendar {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  font-family: sans-serif;
  border: none;
  position: relative;
}

.calendar a {
  color: rgb(110, 107, 107);
}

.cell {
  position: relative;
  width: 14.2857%;
  height: 450px;
  font-size: 0.8em;
  box-shadow: 0 0px 0.5px #393939;
}

.cell .dateContainer {
  margin: 2.5%;
}

.cell .date {
  display: inline-block;
  width: 22px;
  line-height: 22px;
  text-align: center;
}

.current .date {
  border-radius: 50%;
  background: #43b25d;
  color: white;
}

.otherMonth {
  background: #f7f7f7;
}

.otherMonth .date {
  color: #bfbfbf;
}

.addEventOnDay {
  font-weight: normal;
  color: #4f4f4f;
  text-decoration: none;
  float: right;
  margin-right: 3px;
  margin-bottom: 3px;
  background: #e1e1e1;
  padding: 2px;
  padding-left: 5px;
  padding-right: 5px;
  border-radius: 10px;
}

.addEventOnDay:hover {
  cursor: pointer;
}

.miniEvent {
  position: absolute;
  background: #436db2;
  color: white;
  font-size: 1em;
  border-radius: 5px;
  cursor: pointer;
  width: 95%;
  padding: 0;
}

.remote {
  background: #b29343;;
}

.in-person {
  background: #436db2;
}

.available {
  background: #43b284;
  cursor: auto;
}

.navigation {
  width: 100%;
  padding: 10px 8px 14px 8px;
}

.navigation div {
  display: inline-block;
}

.navigation .monthAndYear {
  text-align: center;
  font-weight: bolder;
  font-size: 18px;
  width: 20%;
}

.navigation .back, 
.navigation .forward,
.navigation .today {
  cursor: pointer;
  font-size: 14px;
  font-weight: bold;
  color: rgb(110, 107, 107);
}

.navigation .back {
  float: left;
  width: 20%;
  margin-right: 15%;
}

.navigation .forward {
  text-align: right;
  float: right;
  width: 20%;
  margin-left: 20%;
}

.navigation .today {
  border: solid;
  border-color: rgb(110, 107, 107);
  width: fit-content;
  border-radius: 5px;
  padding: 5px;
}

.navigation .today:hover {
 background-color: rgb(215, 214, 205);
}

.dayLabel {
  font-weight: bold;
  height: auto;
  text-align: center;
  padding: 5px 0;
  border: none;
  box-shadow: none;
}

.form input, .form select {
  width: calc(100% - 16px);
  padding: 5px;
  margin: 6px 0 10px 0;
  border: 3px solid #cacaca;
  border-radius: 4px;
  background: #f9f9f9;
}

.form select {
  width: 100%;
}

.form label {
  font-weight: bold;
  text-align: left;
  font-size: 0.8em;
  display: block;
}

.slotPicker {
  display: flex;
}

.slotPicker label {
  display: flex;
  flex-direction: column;
}

.slotPicker select {
  width: 120px;
  margin-right: 15px;
}

.slotPicker .remove {
  margin-top: 18px;
  width: 20px;
  height: 20px;
  background: none;
  color: black;
}

button {
  width: 100%;
  height: 20%;
  background: #436db2;
  border: none;
  border-radius: 10px;
  color: white;
  padding: 10px;
  cursor: pointer;
  margin: 5px;
}

button:disabled {
  cursor: auto;
  opacity: 50%;
} 

button.red {
  background: #d45757;
}

.overlay {
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.modal {
  background: white;
  position: absolute;
  width: 50%;
  text-align: center;
  left: 25%;
  top: 5%;
  border-radius: 5px;
}

.modal .inner {
   padding: 20px 30px 30px 30px;
}

.modal h3 {
  margin: 0;
  background: #e6e6e6;
  padding: 12px;
  border-radius: 5px;
}

.modal p {
  font-size: 12;
  line-height: 1.5em;
}

.modal .close {
  position: absolute;
  top: 15px;
  right: 35px;
  opacity: 0.3;
}
.modal .close:hover {
  opacity: 1;
}
.modal .close:before, .close:after {
  position: absolute;
  left: 15px;
  content: ' ';
  height: 15px;
  width: 2px;
  background-color: #333;
}
.modal .close:before {
  transform: rotate(45deg);
}
.modal .close:after {
  transform: rotate(-45deg);
}

.arrow {
  border: solid rgb(110, 107, 107);
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}
.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}
.left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}

.eventModal p {
  margin-bottom: 24px;
}

.eventModal p:first-of-type {
  margin-top: 0;
  margin-bottom: 0;
}

.feedback {
    position: absolute;
    width: 40%;
    height: fit-content;
    padding: 16px;
    left: 30%;
    right: 30%;
    bottom: 5%;
    background: #bfbfbf;
    border: none;
    border-radius: 20px;
    text-align: center;
    color: white;
}

.loader {
  position: absolute;
  top: 50%;
  margin-top: -70px;
  left: 50%;
  margin-left: -38px;
}

/* animated loading spinner from https://loading.io/css/ */
.lds-roller {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-roller div {
  animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  transform-origin: 40px 40px;
}
.lds-roller div:after {
  content: " ";
  display: block;
  position: absolute;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: #fff;
  margin: -4px 0 0 -4px;
}
.lds-roller div:nth-child(1) {
  animation-delay: -0.036s;
}
.lds-roller div:nth-child(1):after {
  top: 63px;
  left: 63px;
}
.lds-roller div:nth-child(2) {
  animation-delay: -0.072s;
}
.lds-roller div:nth-child(2):after {
  top: 68px;
  left: 56px;
}
.lds-roller div:nth-child(3) {
  animation-delay: -0.108s;
}
.lds-roller div:nth-child(3):after {
  top: 71px;
  left: 48px;
}
.lds-roller div:nth-child(4) {
  animation-delay: -0.144s;
}
.lds-roller div:nth-child(4):after {
  top: 72px;
  left: 40px;
}
.lds-roller div:nth-child(5) {
  animation-delay: -0.18s;
}
.lds-roller div:nth-child(5):after {
  top: 71px;
  left: 32px;
}
.lds-roller div:nth-child(6) {
  animation-delay: -0.216s;
}
.lds-roller div:nth-child(6):after {
  top: 68px;
  left: 24px;
}
.lds-roller div:nth-child(7) {
  animation-delay: -0.252s;
}
.lds-roller div:nth-child(7):after {
  top: 63px;
  left: 17px;
}
.lds-roller div:nth-child(8) {
  animation-delay: -0.288s;
}
.lds-roller div:nth-child(8):after {
  top: 56px;
  left: 12px;
}
@keyframes lds-roller {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
  