.gridContainer {
    display: grid;
    column-gap: 30px;
    row-gap: 10px;
}

.row {
    display: inline-flex;
    flex-direction: row;
    width: fit-content;
    text-align: left;
}

.rowItem {
    color: rgb(70, 64, 64);
    width: 170px;
  }

.rowHeader {
    font-weight: bolder;
}

.unpaid {
    color: red;
}

.paid {
    text-decoration: line-through;
}

.userSelectorContainer {
    display: flex;
    flex-direction: row;
    height: 50px;
}

.rate {
    text-align: center;
    line-height: 45px;
    width: 100px;
}

.amount {
    text-align: center;
    font-size: 1em;
    line-height: 45px;
    width: 80px;
}

.editAmount {
    border: 3px solid #cacaca;
    border-radius: 4px;
    background: #f9f9f9;
    width: 64px;
}

.editButton {
    background-color:  rgba(244, 243, 237);
    color: rgb(70, 64, 64);
    border: none;
    border-radius: 10px;
    width: 120px;
    height: fit-content;
}

.editButton:hover {
    background-color: rgb(215, 214, 205);
    cursor: pointer;
}

div input, select {
    width: fit-content;
    padding: 5px;
    margin: 6px 20px 10px 0;
    border: 3px solid #cacaca;
    border-radius: 4px;
    background: #f9f9f9;
  }